# https://phpstan.org/config-reference

parameters:
	# Rules
	treatPhpDocTypesAsCertain: false
	inferPrivatePropertyTypeFromConstructor: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	polluteScopeWithAlwaysIterableForeach: false
	polluteScopeWithLoopInitialAssignments: false
	reportAlwaysTrueInLastCondition: true
	reportStaticMethodSignatures: true
	reportWrongPhpDocTypeInVarTag: true

	# Configuration
	level: 8
	phpVersion:
		min: 80200
		max: 80500
	bootstrapFiles:
		- onesearch.php
	stubFiles:
		- phpstan/stubs/wordpress-extended.php
	paths:
		- onesearch.php
		- uninstall.php
		- inc/
		- tests/_data/plugins
	excludePaths:
		analyse:
			- tests/
			- vendor/
			- vendor-prefixed/
		analyseAndScan:
			- node_modules (?)

	ignoreErrors:
