// Styles specific to the plugin onboarding (Plugins page)

.onesearch-onboarding-page {

	.components-card {
		margin-bottom: 20px;
		border: 1px solid #ddd;
		border-radius: 8px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}

	.components-button.is-busy {
		cursor: not-allowed;
		opacity: 0.7;
	}
}

// Onboarding modal container and backdrop
[id="onesearch-site-selection-modal"] {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	min-width: 40vw;
}

body.onesearch-site-selection-modal {

	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 9999;
	}
}
